/**
 * Font face loading
 */

@font-face {
    font-family: 'Panton';
    font-style: normal;
    font-weight: 390;
    src: local('Panton'), url(/fonts/Panton-BlackCaps.woff2) format("woff");
    font-display: swap;
}